

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
.wrapper{
  width:100%;

  /* height:100vh; */
  /* overflow-x: hidden;
  overflow-y: auto; */
}
body{
   overflow-x: hidden;
    /* height: 2830px; */
    /* width:100%; */
    /* border: 2px solid red; */
}


.logo{
    position: absolute;
    top:0px;
    display: inline-block;
    
}
.navbar{
    background-color: #2c3e50;
    height: 70px;
    position:absolute;
    top:90px;
    display: block;
    width: 100%;
    height: 57px;
    
}

.navbar li{
    float: left;
    list-style: none;
    padding-left: 50px;
    padding-top:14px ;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}

.navbar li a{
    color: rgb(252, 251, 251);
    text-decoration: none;
    padding: 7px 2px 11px 30px;
    font-size: 22px;
    font-weight: bolder;
    
}
.navbar li a:hover{
    color: #0E7DB4;
    font-size: 24px;
    
}

    

.sidelogo{
   position: absolute;
   right: 25px;
   top: 2.2%;
   padding-top:2px;
   /* .i2{
    position: relative;
    left: 8px;
    padding-top:2px;
    top: 2.2%;
   }
   .i3{
    position: relative;
    left: 8px;
    padding-top:2px;
    top: 2.2%; */
   }
   


.intro{
    position: absolute;
    top: -1084px;
    text-align: center;
    left: 23%;
}

  
  .h1{
    margin-top: 10px;
    font-size: 3vw;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  .introduction{
    
    margin-left: 6px;
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;
    color: white;
  }


.sidebar{
    /* border: 2px solid rgb(207, 24, 24); */
    width: 20%;
    height: 500px;
    display: inline-block;
    position: absolute;
    top: 910px;
}




.mainarea{
    /* border: 2px solid red; */
    width: 100%;
    height: 283px;
    position: absolute;
    display: inline-block;
    top: 1226px;
    
 
}

.bottom{
    position: absolute;
    top: 1512px;
    /* border: solid red 2px; */
    
    width: 100%;
    left: 0px;
    display:inline-block;
    height: 549px;
}

.about{
    /* border: solid red 2px; */
    position: absolute;
    top: 548px;
    height: 495px;
    width: 100%;
    background-color: #F1F6F9;
}

.footer{
  position: absolute;
  margin-bottom: 0px;
  top: 2557px;
  /* border: 2px solid orange; */
  width: 100%;
  height: 269px;
  background-color: #2c3e50;
  
/* .ftext{
  text-align: center;
} */
/* .box{
  
  display: inline-block;
  position:absolute;
  right:10px;
  bottom:10px;
} */
/* .texts-1{
  position:absolute;
  left:40px;
  font-size: 1.3rem;
  
  top:28px;
  line-height: 55px;
  color: white;
} */

/* .texts-2{
  position:absolute;
  left:180px;
  font-size: 1.3rem;
  top: 28px;
  line-height: 55px;
  color: white;
  
} */

/* .footerlink{
  color: white;
  text-decoration: none;
  font-weight: bold;
  line-height: 54px;

} */

/* .logos{
  position:relative;
  top:190px;
  left: 35%;
} */

 

}

/* CSS for Slideshow Container */
.slideshow {
position: absolute;
width: 100%;
height: 763px;
top: 147px;

}

/* CSS for Slides */
.slide {
display: none;
}



/* CSS for Slideshow Animation */
.fade {
animation-name: fade ;
animation-duration: 1s;
}

@keyframes fade {
0% {
opacity: 0.8;
}
100% {
opacity: 1;
}
}

.prev {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    opacity: 0.1;
}

/* Style for the Next button */
.next {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    opacity: 0.1;
}


/* Hover effect for both buttons */
.prev:hover, .next:hover {
    background-color: #333;
    color: #f2f2f2;
    opacity: 1;
}

/* Center the buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

/* Position the Previous button on the left */
.prev {
    left: 10px;
}

/* Position the Next button on the right */
.next {
    right: 10px;
}


  /* .container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.card {
    width: 300px;
    height: 500px;
    perspective: 800px;
    /* position: relative; */
    /* transition: transform 1500ms;
    transform-style: preserve-3d;
    cursor: arrow;
   
} */

.card:hover {
    transform: rotateY(180deg);
}

.front,
.back {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: relative;
    backface-visibility: hidden;
    display:flex;
    flex-direction: column;
} */
/* .front{
  position:relative;
  display:flex;
  flex-direction: column;
} */
.text{
position:absolute;
align-self: flex-end;
justify-self: flex-end;


}

.front img{
    border-radius: 2rem;
} 

.back img{
    border-radius: 2rem;
    
} 
/* .back h1{

    color: white;
    position:relative;
    text-align: centre;

} */

/* .back {
    background-color: #fdfbfb;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    color: white;
} */

.btn {
    width: 100%;
    height: 213px;
    /* border: 2px solid blue; */
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 910px;
    background-color: #2c3e50;
}


.round-btn {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #0074d9;
    margin: 0 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    cursor: pointer;
}

.round-btn:hover
{
  width: 155px;
  height: 155px;
  box-shadow: 0px 0px  30px rgba(121, 215, 241, 0.3);
}
#round-btn-earthquake{
  background-image:url(icon3.jpg);
  background-size: 100% ;
}
#round-btn-cyclone{
  background-image:url(icon4.jpeg);
  background-size: 100%;
}
#round-btn-flood{
  background-image:url(icon2.jpg);
  background-size: 100%;
}
#round-btn-fire{
  background-image:url(icon1.jpeg);
  background-size: 100% ;
}
#round-btn-nuclear{
  background-image:url(icon5.jpeg);
  background-size: 100% ;
}



/* .fire { background-image: url('fire.jpg'); }
.flood { background-image: url('flood.jpg'); }
.earthquake { background-image: url('earthquake.jpg'); }
.cyclone { background-image: url('cyclone.jpg'); }
.nuclear { background-image: url('nuclear.jpg'); } */



.about-container {
  width: 100%;
    height: 580px;
    background-color: #96B6C5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: shadowAnimation 1s infinite alternate;
    position: absolute;
    top: 465px;
}

@keyframes shadowAnimation {
  0% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  100% {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
}

.about-text {
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  line-height: 2.0;
  color: white;
}

.logos .one{
padding: 6px;
}





.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  top: -386px;
  height: 933px;
  position:absolute;
  align-items: center;
  background-image: url(bkg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  
}

.card {
  width: 300px;
  height: 500px;
  perspective: 800px;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card:hover {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background-image: url(https://source.unsplash.com/random/350x500);
}

.back {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: white;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  max-width: 100px;
  height: auto;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  display: inline;
  margin-right: 20px;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-info {
  text-align: center;
  margin-top: 20px;
}
